body{
    background-image: url(https://images2.alphacoders.com/104/1042582.jpg);
    background-image: linear-gradient(#1e04169b, #530b0938), url(https://images2.alphacoders.com/104/1042582.jpg);
    background-size: 2700px;

}
